.btn{
    padding-block: 1.3rem;
    background-color: $lightCyan;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    outline: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
    transition: background 0.5s;
    &:hover{
     background-color:#59c1c1;
    }
}

.btn--rounded{
    border-radius: 30px;
    padding-inline: 3rem;
}

