*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}


main{
    background-color: #f0f1f6;

}

ul{
    list-style: none;
}

img{
    cursor: pointer;
}
a{
    text-decoration: none;
}

// RESUABLE CLASSES



.card{ 
    width: 80%;
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;
}