
@include tablette{
    .grid{
        display: grid;
        gap: 1rem;
    }
    
    .grid--cls2{
        grid-template-columns: 1fr 1fr;
    }
    .grid--cls5{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

}