@mixin mobile {
    @media screen and (max-width:$mobile) {
        @content;
    }
}


@mixin tablette{
    @media screen and (min-width:$tablette) {
        @content;
    }
}

@mixin tabletteMax{
    @media screen and (max-width:$tablette) {
        @content;
    }
}



@mixin desktop{
    @media screen and (min-width:$Desktop) {
        @content;
    }
}


@mixin flexBtween($alignItems){
    display: flex;
    justify-content: space-between;
    align-items: $alignItems;
} 