body{
    color: white;
    letter-spacing: 0.3px;
}

h1{
    font-size: 3.8rem;
}



h2{
    font-size: 2.8rem;
}

h3{
  font-size: 2.2rem;
}

p{
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 500;
}


@include tablette{
    h1{
        font-size: 5.8rem;
        max-width:15ch;
    }

    h2{
      font-size: 3.8rem;
    }

    p{
        font-size: 2rem;
    }
}