@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import './partiels/variabels';
@import './partiels/general';
@import './partiels/mixins';
@import './partiels/typography';
@import './partiels/btn';
@import './partiels/nav';
@import './partiels/hero';
@import './partiels/grid';


.container{
    margin-top: 6rem;
   
}

.urlShortenForm{
    display: flex;
     flex-direction: column;
    background-color: $darkBlue;

    &__input{
        padding:1.5rem 1rem;
        border: 0;
        outline: none;
        margin-block: 2rem;
        font-size: 1.6rem;
        &::placeholder{
            letter-spacing: 1px;
        }
        @include tablette{
            width: 70%;
        }
    }

    &__btn{
        border-radius: 10px;
        padding: 1.5rem 1rem;
    }
    @include tablette{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
}


// urlshortenLIst
.urlShortendList{
    background-color: white;
    color: $lightCyan;
    border: 1px solid $lightGray;
    margin-top: 3rem;
   li{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   button{
    border-radius: 10px;
    padding: 1.5rem 1rem;
    width: 80%;
    margin-block: 1.5rem;
    @include tablette{
        width: 30%;
    }
   }
   p{
    font-size: 2rem;
    cursor: pointer;
   }

   @include tablette{
    li{
        flex-direction: row;
       justify-content: space-between;
   align-items: center;

    }
}
}