@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import './partiels/variabels';
@import './partiels/general';
@import './partiels/mixins';
@import './partiels/typography';
@import './partiels/btn';
@import './partiels/nav';
@import './partiels/hero';
@import './partiels/grid';


.container{
    margin-top: 6rem;
   
}

.urlShortenForm{
    display: flex;
     flex-direction: column;
     width: 80%;
    background-color: $darkBlue;
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;

    &__input{
        padding:1.5rem 1rem;
        border: 0;
        outline: none;
        margin-block: 2rem;
        font-size: 1.6rem;
        &::placeholder{
            letter-spacing: 1px;
        }
        @include tablette{
            width: 70%;
        }
    }

    &__btn{
        border-radius: 10px;
        padding: 1.5rem 1rem;
    }
    @include tablette{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}