@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import './partiels/variabels';
@import './partiels/general';
@import './partiels/mixins';
@import './partiels/typography';
@import './partiels/btn';
@import './partiels/nav';
@import './partiels/hero';
@import './partiels/grid';
@import './partiels/urlShorteningContainer';
@import './partiels/statistics';
@import './partiels/callout';


main{
    background-color: #f0f1f6;

}

.footer{
    background-color: $footerbg;
    text-align: center;
    padding: 2rem;
  @include tablette{
    text-align: left;
  }
    &__list-box{
        margin-block: 2.3rem;
    }

    &__list-title{
        font-size: 1.8rem;
    }
    
    &__list-link{
        color: $darkLight;
        cursor: pointer;
    margin-block: 1.5rem;
    font-size: 1.4rem;
    @include tablette{
        font-size: 1.6rem;
    }
    }

    &__media-icons{
        margin:2rem 1.2rem;
    }
}
