@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
}

ul {
  list-style: none;
}

img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  color: white;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5.8rem;
    max-width: 15ch;
  }
  h2 {
    font-size: 3.8rem;
  }
  p {
    font-size: 2rem;
  }
}

.btn {
  padding-block: 1.3rem;
  background-color: #2bd1d1;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  outline: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.btn:hover {
  background-color: #59c1c1;
}

.btn--rounded {
  border-radius: 30px;
  padding-inline: 3rem;
}

.hidden {
  display: none !important;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__hamburger, .nav__close {
  height: 3rem;
}

@media screen and (min-width: 900px) {
  .nav__hamburger, .nav__close {
    display: none;
  }
}

.nav__list {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  .nav__list {
    display: inherit;
    -ms-grid-columns: 1fr 1fr 2fr 1fr auto;
        grid-template-columns: 1fr 1fr 2fr 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list button {
    padding: 12px;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) {
  .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    padding: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .nav_list-collapsible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #4b406b;
    position: absolute;
    max-width: 420px;
    max-height: 60vh;
    top: 7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
  }
  .nav_list-collapsible li {
    margin-block: 2rem;
  }
  .nav_list-collapsible li button {
    padding: 1rem;
    font-size: 1.5rem;
    width: 80%;
    border: 0;
  }
}

.hidden {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__hamburger, .nav__close {
  height: 3rem;
}

@media screen and (min-width: 900px) {
  .nav__hamburger, .nav__close {
    display: none;
  }
}

.nav__list {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav__list li {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

@media screen and (min-width: 900px) {
  .nav__list {
    display: inherit;
    -ms-grid-columns: 1fr 1fr 2fr 1fr auto;
        grid-template-columns: 1fr 1fr 2fr 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #dddcdf;
  }
  .nav__list li:hover {
    color: #37343e;
  }
  .nav__list button {
    padding: 12px;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) {
  .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    padding: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .nav_list-collapsible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #4b406b;
    position: absolute;
    max-width: 420px;
    max-height: 60vh;
    top: 7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
  }
  .nav_list-collapsible li {
    margin-block: 2rem;
  }
  .nav_list-collapsible li button {
    padding: 1rem;
    font-size: 1.5rem;
    width: 80%;
    border: 0;
  }
}
/*# sourceMappingURL=main.css.map */